<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-25 col-lg-26">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Register</h2>
          <form (ngSubmit)="register()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control form-control-lg" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control form-control-lg" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control form-control-lg" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
          </form>
        </div>
      </div>
      <div class="alert alert-info mt-3" role="alert">
        Already have an account? <a routerLink="/login12">Sign In here</a>.
      </div>
    </div>
  </div>
</div>
